$large-font:1.5rem;
$detail-heading-title:1.375rem;
$medium-font-size:18px;
$home-page-font-size:14px;
$detail-page-font-size:1rem;
$xs-small-font-size:0.75rem;
$smaller-font-size:12px;
$main-font:'Nunito Sans, sans-serif';